extends layout

block content

	leftCol
		b
			u Most Recent Stories
		- var i = 0;
		- recentGames.forEach( function(game) {
			- i = i +1;
			br
			br
			b
				a(href='/stories/#{game.id}') By #{game.get("creator").get("name")} and #{game.get("invitee").get("name")}
			br
			- game.turns.each( function(turn) {
			= turn.get("turn");
			- });
			p #{game.get("votes")} votes
			p
			a(href='/vote/#{game.id}') Vote on this story!
			p
				// Tweet code
				// a(href='https://twitter.com/share',class='twitter-share-button',data-lang="en",data-count="none",data-related="xbox:Ghostfire Games",data-text="Check out this fun story! #atalltale",data-url="http://edro.no-ip.org:3000/stories/#{game.id}") Tweet
				
				// Facebook Like button
				.fb-like(data-href="http://edro.no-ip.org:3000/stories/b#{game.id}",layout="box_count", data-send="false", data-width="450", data-show-faces="false")				

				p

				// Facebook share code
				a(href='#',class='post_wall') Share on Facebook
			p
		- });
	rightCol
		b
			u Other Interesting Stories
		- otherGames.each( function(game) {
			br
			br
			a(href='/stories/#{game.id}') 
				By #{game.get("creator").get("name")} and #{game.get("invitee").get("name")}
			br
			- game.turns.each( function(turn) {
			= turn.get("turn");
			- });
			p #{game.get("votes")} votes
			p
			a(href='/vote/#{game.id}') Vote on this story!
			p
				// a(href='https://twitter.com/share',class='twitter-share-button',data-lang="en",data-count="none",data-related="xbox:Ghostfire Games",data-text="Check out this fun story! #atalltale",data-url="http://edro.no-ip.org:3000/stories/#{game.id}") Tweet
				.fb-like(data-href="http://edro.no-ip.org:3000/stories/b#{game.id}",layout="box_count", data-send="false", data-width="450", data-show-faces="false")
					a(href='#',onclick='postToFeed(); return false;') Share on Facebook
		- });
