extends layout

block content

	more
		Loading More Content
	no-more
		No More Content
	leftCol
		b
			u Most Recent Stories

		// Populate content with initial dataset loaded from controller.
		- recentGames.forEach( function(game) {
			br
			br
			b
				a(href='/stories/#{game.id}') By #{game.get("creator").get("name")} and #{game.get("invitee").get("name")}
			br
			- game.turns.each( function(turn) {
			= turn.get("turn");
			- });
			p #{game.get("votes")} votes
			p
			a(href='/vote/#{game.id}') Vote on this story!
			p
				// Tweet code
				// a(href='https://twitter.com/share',class='twitter-share-button',data-lang="en",data-count="none",data-related="xbox:Ghostfire Games",data-text="Check out this fun story! #atalltale",data-url="http://edro.no-ip.org:3000/stories/#{game.id}") Tweet
				
				// Facebook Like button
				.fb-like(data-href="http://edro.no-ip.org:3000/stories/b#{game.id}",layout="box_count", data-send="false", data-width="450", data-show-faces="false")				

				p

				// Facebook share code
				a(href='#',class='post_wall',name='Check out this tall tale!',caption='Made by #{game.get("creator").get("name")} and #{game.get("invitee").get("name")} on http://www.ATallTale.com') Share on Facebook
			p
		- });
	rightCol
		b
			u Other Interesting Stories
		- otherGames.each( function(game) {
			br
			br
			a(href='/stories/#{game.id}') 
				By #{game.get("creator").get("name")} and #{game.get("invitee").get("name")}
			br
			- game.turns.each( function(turn) {
			= turn.get("turn");
			- });
			p #{game.get("votes")} votes
			p
			a(href='/vote/#{game.id}') Vote on this story!
			p
				// a(href='https://twitter.com/share',class='twitter-share-button',data-lang="en",data-count="none",data-related="xbox:Ghostfire Games",data-text="Check out this fun story! #atalltale",data-url="http://edro.no-ip.org:3000/stories/#{game.id}") Tweet
				.fb-like(data-href="http://edro.no-ip.org:3000/stories/b#{game.id}",layout="box_count", data-send="false", data-width="450", data-show-faces="false")
					a(href='#',onclick='postToFeed(); return false;') Share on Facebook
		- });


	// Infinite Scroll code
	script(type="text/javascript")
		var page = 1;
		var entriesPerPage = 3;
		
		$(window).scroll(function ()
		{
			// Initially, hide the "more" and "no more" elements which the user sees if they're at the bottom
			$('#more').hide();
			$('#no-more').hide();
		
			// Show the "more" element if we're near the bottom
			if ($(window).scrollTop() + $(window).height() > $(document).height() - 200)
			{
				$('#more').css("top","400");
				$('#more').show();
			}

			// If we're at the bottom...
			if ($(window).scrollTop() + $(window).height() == $(document).height())
			{
				// Hide "more" and "no more"
				$('#more').hide();
				$('#no-more').hide();
				
				// Increment the page we're on
				page++;
				
				// TODO: Figure out how much content exists in total (on server)
				var totalEntries = 300;
				
				// If we're on the final page, then display "no more"
				if ((page-1)* entriesPerPage > totalEntries)
				{
					$('#no-more').css("top","400");
					$('#no-more').show();
				}
				// Otherwise, do an AJAX call to retrieve more content
				else
				{
					$.ajax({
						type: "POST",
						url: "stories-ajax",
						data: { page_num: page },
						success: function(res)
								{
									$("leftCol").append(res);
									console.log(res);
								}
					});
				}
			}	
		});
