extends layout

block content
	leftCol
		b
			u Most Recent Stories
		- recentGames.forEach( function(game) {
			br
			br
			b
				a(href='/stories/#{game.id}') By #{game.get("creator").get("name")} and #{game.get("invitee").get("name")}
			br
			- game.turns.each( function(turn) {
			= turn.get("turn");
			- });
			p #{game.get("votes")} votes
			p
			a(href='/vote/#{game.id}') Vote on this story!
			p
				a(href='https://twitter.com/share',class='twitter-share-button',data-lang="en",data-count="none",data-related="xbox:Ghostfire Games",data-text="Check out this fun story! #atalltale",data-url="http://edro.no-ip.org:3000/stories/#{game.id}") Tweet
				script(type='text/javascript')
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				
				#fb-root
				script
					(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=250634021702621";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				.fb-like(data-href="http://edro.no-ip.org:3000/stories/b#{game.id}",layout="box_count", data-send="false", data-width="450", data-show-faces="false")

				//
					script(src='http://connect.facebook.net/en_US/all.js')
					p
						a(href='#',onclick='postToFeed(); return false;') Share on Facebook
					p(id='msg')
					script
						FB.init(
						{
							appId: "250634021702621", status: true, cookie: true});
				
							function postToFeed()
							{
								// calling the API ...
								var obj = {
								method: 'feed',
								redirect_uri: 'http://edro.no-ip.org:3000',
								link: 'http://edro.no-ip.org:3000/stories/#{game.id}',
								picture: 'http://fbrell.com/f8.jpg',
								name: 'A Tall Tale',
								caption: 'Check out this story!',
								description: 'Written by #{game.get("creator").get("name")} and #{game.get("invitee").get("name")}'
							};
							
							function callback(response)
							{
								document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
							}
							
							FB.ui(obj, callback);
						}
			p
		- });
	rightCol
		b
			u Other Interesting Stories
		- otherGames.each( function(game) {
			br
			br
			a(href='/stories/#{game.id}') 
				By #{game.get("creator").get("name")} and #{game.get("invitee").get("name")}
			br
			- game.turns.each( function(turn) {
			= turn.get("turn");
			- });
			p #{game.get("votes")} votes
			p
			a(href='/vote/#{game.id}') Vote on this story!
			p
				a(href='https://twitter.com/share',class='twitter-share-button',data-lang="en",data-count="none",data-related="xbox:Ghostfire Games",data-text="Check out this fun story! #atalltale",data-url="http://edro.no-ip.org:3000/stories/#{game.id}") Tweet
				script(type='text/javascript')
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				
				#fb-root
				script
					(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=250634021702621";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				.fb-like(data-href="http://edro.no-ip.org:3000/stories/b#{game.id}",layout="box_count", data-send="false", data-width="450", data-show-faces="false")
		- });
